@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

:root {
	font-family: "Inconsolata", system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	background: #121213;
	color: rgba(255, 255, 255, 0.87);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--word-bg: #3a3a3c;
	--word-color: #ffffff;
	--kb-btn-bg: #565758;
	--kb-btn-color: #ffffff;
	--correct-word-bg: #6aaa64;
	--correct-word-color: #ffffff;
	--incorrect-place-bg: #d4934f;
	--incorrect-place-color: #ffffff;
	--dialog-bg: #1e1e20;
	--dialog-border: #3a3a3c;
	--dialog-overlay: rgba(0, 0, 0, 0.5);
}

.answer-highlight {
	font-weight: 600;
	text-transform: uppercase;
	color: var(--correct-word-bg);
}

main > h1 {
	text-align: center;
}

.spacer {
	height: 2rem;
}

.guesses-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.guesses-row {
	display: flex;
	gap: 0.5rem;
}
